<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhao.service.UserService">

    <insert id="insertOne" parameterType="com.tuhao.model.UserModel">
        insert into userMyBatis(id,name,age,passWord) values(#{id},#{name},#{age},#{passWord})
    </insert>
</mapper>